#listaChamados {
  overflow-y: auto;
  height: 100vh;
  background-color: rgba(87, 126, 255, 0.123);
  border-radius: 10px;
  box-shadow: inset 0 0 10px #0000003a;
}

.card-chamado-everest {
  box-shadow: 0 0 10px #0000003a;
}
