.apresentation-container
{
    min-height: 90vh;
    position: relative !important;
}

.apresentation-container .row 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    transition: .5s;
}

.apresentation-container .row #textApresentation
{
    font-size: 20px;
}

.apresentation-container .row.active,
.first-track.active *
{
    opacity: 100%;
    transition: 1s;  
}

.apresentation-container img#shadowWave
{
    display: none;
    width: 100%;
    object-fit: cover; 
    object-position: 50% 50%;
}

.first-track
{
    width: 100%;
    background-color: rgb(87, 126, 255) !important;
    color: white;
}

.first-track .container-xs
{
    padding: 100px;
}

.second-container
{
    min-height: 100vh;
}

.second-container .row-header-cards
{
    height: 20%;
    margin-top: 150px;
    margin-bottom: 100px;
}

.second-container .card 
{
    height: auto;
}

.second-container .row-cards
{
    height: 60%;
}

.second-container .row-cards .box-card
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.second-container .row-cards .card
{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    width: 70%;
    border: 2px solid black;
    box-shadow: 0px 0px 3px 5px rgb(211, 211, 211);
    height: 380px;
}

.second-container .row-cards .card:hover
{
    box-shadow: -5px 5px 7px 5px rgb(211, 211, 211);
    transform: translateY(-5px);
    transition: .3s;
}

#second-container-wave
{
    position: absolute;
}

#img-first-container
{
    width: 80%
    
} 

.second-track
{
    padding: 100px;
    width: 100%;
    background-color: rgb(166, 177, 212) !important;
    color: rgb(34, 34, 34);
}

.third-container
{
    min-height: 100vh;
    overflow: hidden;
}

#boxMsgBaixar
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-everest-lg
{
    padding: 15px 50px;
}

#textMinimizedEverest
{
    font-size: 12px;
}

.box-bolha
{
    position: absolute;
}

#bolhaRodape
{
    width: auto; 
    z-index: -1; 
    margin: 200px 0 0 150px;
}

#bolhaSecondContainer
{ 
    width: 80%;
    margin: 150px 0 0 -100px; 
    z-index: -1;
}

#bolhaTopHome
{
    width: 100%;
    z-index: -1;
    margin: -100px 0 0 -30%; 
}

@media (min-width: 750px) {
    .second-container .row-cards
    {
        padding-top: 150px;
    }

    .apresentation-container .row,
    .apresentation-container img#shadowWave
    {
        position: absolute !important;
    }

    .apresentation-container img#shadowWave
    {
        display: inline-block;
    }

    .second-container .row-cards .card
    {
        width: 90%;
    }

    #boxMsgBaixar
    {
        align-items: end;
    }

    .second-container .row-header-cards
    {
        margin-top: 350px;
        margin-bottom: 0px;
    }

    
    #bolhaRodape
    {
        width: 800px; 
        z-index: -1; 
        margin: 550px -400px 0 0;
    }
    
    #bolhaSecondContainer
    {
        margin: 0 0 0 950px; 
        width: 20%;
    }

    #bolhaTopHome
    {
        margin: -200px 0 0 -30%; 
    }
}